/* ESTILOS GENERALES */

body{
    margin: 0;
    padding: 0;
}



/* TIPOGRAFIAS GENERALES */
body{
    font-family: 'Roboto', sans-serif;
}


/* HEADER Estilos */
header{
    margin: 0;
}

    /* Borde superior */
#topborder{
    background-color: #222222;
    color: white;
    font-size: 12px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#topborder ul{
    display: flex;
}
#topborder ul li{
    padding-left: 20px;
}

    /* Barra de nav */
#navbar{
    background-color: #F0A83E;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    padding: 0 20px;
}

    /* Banner principal */
#sectionpaw{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 300px;
}




/* MAIN Estilos */