body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Estilos del container-form */
.container-form{
    width: 60vw;
    height: 80vh;
    margin: 5vh 20vw;
}

.btn{
    width: 50% ;
    background-color: rgb(229, 253, 142);
}

/* pseudoselectores */

    /* Pseudoclases -> un elemento cambia o sufre un evento */
    .btn:hover{
        background-color: black;
        color: white;
    }

    /* :hover : cuando pasas el mouse por encima // :active : cuando se hace click // :invalid : cuando no cumple el requisito
    :required : requisito */

/* pseudoelementos */

label::after{
    content: '*';
    color: red;
}